html {
    margin: 0;
}
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
#main-container {
    max-width: 1425px;
    margin-left: auto;
    margin-right: auto;
}
section:nth-of-type(1) {
    background-color: #e7f1ff;
}
#header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#logo-container {
    padding: 20px 0 0 45px;
}
#logo-wrapper {
    display: flex;
    justify-content: center;
}
#ebq-logo {
    height: 105px;
}
.btn-container {
    padding: 20px 50px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#btn-wrapper {
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contact-btn {
    background-color: rgb(48, 107, 232);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition: all .2s ease-in-out;
    cursor: pointer;
}
.contact-btn:hover {
    transform: scale(1.1);
    z-index: +1;
}
.contact-btn-text {
    padding: 13px 40px 12px 40px;
    font-size: 14px;
}
.container-100 {
    display: flex;
    width: 100%;
}
.container-50 {
    display: flex;
    width: 50%;
}
.text-wrapper {
    display: flex;
    flex-direction: column;
    padding: 7em 1em 7.6em 9.5em;
    transform: translateY(10px);
}
.text-wrapper2 {
    display: flex;
    flex-direction: column;
    padding: 9em 2.8em 6em 9.5em;
}
.text-wrapper3 {
    transform: translateY(-15px);
    display: flex;
    flex-direction: column;
    padding: 9em 8.5em 11em 2em;
}
#img-wrapper {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#img-wrapper2 {
    width: 100%;
    padding: 5em 6.5em 0 11em;
}

.lg-font {
    font-size: 50px;
    margin: 0;
    padding: 0;
    line-height: 1.07em;
}
.ft-font {
    font-size: 42px;
}
.md-font {
    font-size: 40px;
    margin: 0;
    padding: 0;
    line-height: 1.1em;
}
.title {
    margin-bottom: 20px;
}
.bold {
    font-weight: bold;
}
.body-text-p {
    margin-top: 20px;
    font-size: 20px;
    line-height: 1.25em;
}
.body-text {
    margin-top: 25px;
    font-size: 20px;
    line-height: 1.25em;
}
#tools-img {
    transform: translateY(45px);
    width: 100%;
    height: 100%;
    padding-left: 30px;
    padding-right: 100px;
}
#dept-img {
    width: 100%;
}
#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #1542a9;
    padding-top: 115px;
    padding-bottom: 7em;

}
#footer-text {
    transform: translateY(5px);
    padding-bottom: 60px;
    color: white;
}
.yellow-bg {
    background-color: #ffbf5e;
}
.blue-text {
    color: #1542a9;
}

@media screen and (max-width: 75em) {
    #img-wrapper2 {
        padding: 5em 5em 0 9.5em;
    }
    .text-wrapper3 {
        transform: translateY(-15px);
        display: flex;
        flex-direction: column;
        padding: 5em 8.5em 8em 2em;
    }
}



/*TABLET*/


@media screen and (max-width: 65em) {
    .btn-container {
        padding: 10px 20px 0 0;
    }
    #logo-container {
        padding: 10px 0 0 15px;
    }
    .container-50 {
        width: 100%;
    }
    .container-100 {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .text-wrapper {
        padding: 5em 1.5em 7em;
        text-align: center;
    }
    .text-wrapper2 {
        padding: 1.5em 1.5em 3.5em;
        text-align: center;
    }
    #img-wrapper {
        justify-content: center;
        width: 100%;
    }
    #tools-img {
        padding: 5em 12em;
        transform: none;
    }
    #img-wrapper2 {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5em 15em;
    }
    .text-wrapper3 {
        padding: 0 1.5em;
        text-align: center;
    }
    #dept-img {
        height: 100%;
        transform: none;
    }
    #footer {
        padding-top: 100px;
        padding-bottom: 6em;
        text-align: center;
    }
    #footer-text {
        padding: 0 2.5em 3.125em 2.5em;
    }
    .body-text {
        margin-top: 25px;
    }
}


@media screen and (max-width: 55em) {
    #tools-img {
        padding: 5em 8em;
        transform: none;
    }
    #img-wrapper2 {
        padding: 5em 10em;
    }
}
@media screen and (max-width: 45em) {
    #tools-img {
        padding: 5em 5em;
        transform: none;
    }
    #img-wrapper2 {
        padding: 5em 5em;
    }
}



/*MOBILE*/

@media screen and (max-width: 35em) {
    .contact-btn:hover {
        transform: none;
    }
    .text-wrapper2 {
        padding: 3.5em 1em;
    }
    #tools-img {
        padding: 5em 1em 0 1em;
        transform: none;
    }
    #img-wrapper2 {
        padding: 3em 1em 5em 1em;
    }
    #footer {
        padding-top: 90px;
        line-height: 1.1;
    }
    #footer-text {
        padding: 0 1em 3.125em 1em;
    }
}

/*Thanks for the opportunity EBQ!*/